## Load Data


#### Basic Setup (access, db connection, meta data)

In [32]:
import sys
#sys.path.append('../')
import psycopg2
import pandas.io.sql as psql
import csv

import numpy as np
import pandas as pd
from collections import OrderedDict
import matplotlib.pyplot as plt
import MySQLdb

In [179]:
## DB CONNECTION INFO
access_file = open('db_access.txt', "r")
db_access = access_file.read().split(',')
hostname = db_access[0] 
username = db_access[1] 
password = db_access[2] 
db_name = db_access[3]

In [150]:
hostname = 'ctsp-data-good.cofkkcj120x1.us-east-1.rds.amazonaws.com'
username = 'ctsp_admin'
password = 'Data4G00d!'
db_name = 'crimes'

In [151]:
def execute_query(sql, hostname, username, password, db_name):
    """
    This function takes in a MySQL query and executes it based on the db connection defined.
    If the execution is failed, it will roll back the changes and close the open session.
    """
    conn = MySQLdb.connect(host=hostname, user=username, passwd=password, db=db_name, port=3306)
    db = conn.cursor()
    try:
        db.execute(sql)
        conn.commit()
    except:
        conn.rollback()
        print 'ERROR SQL EXECUTION! ROLLEDBACK'
    
    conn.close()

#### Create Tables, Set Schema & Insert Data

#### (1) crime_type

In [155]:
drop_crime_type_sql = "DROP TABLE IF EXISTS crime_type;"
execute_query(drop_crime_type_sql, hostname, username, password, db_name)

create_crime_type_sql = "CREATE TABLE IF NOT EXISTS crime_type "
create_crime_type_sql = create_crime_type_sql + "(id_crime_type INT NOT NULL PRIMARY KEY, "
create_crime_type_sql = create_crime_type_sql + "name VARCHAR(20) NOT NULL,"
create_crime_type_sql = create_crime_type_sql + "created_at datetime, updated_at datetime );"
execute_query(create_crime_type_sql, hostname, username, password, db_name)

In [156]:
## SET UP CRIME TYPE
crime_type = ['motor vehicle theft', 'robbery', 'vandalism', 
              'theft/larceny', 'burglary', 'assault', 
              'sex crimes', 'dui', 'fraud', 
              'disturbing the peace', 'drugs/alcohol violations', 'arson',
              'weapons', 'homicide']
crime_type_dict = {i+1: crime for i, crime in enumerate(crime_type)}
crime_type_dict

{1: 'motor vehicle theft',
 2: 'robbery',
 3: 'vandalism',
 4: 'theft/larceny',
 5: 'burglary',
 6: 'assault',
 7: 'sex crimes',
 8: 'dui',
 9: 'fraud',
 10: 'disturbing the peace',
 11: 'drugs/alcohol violations',
 12: 'arson',
 13: 'weapons',
 14: 'homicide'}

In [157]:
## INSERT CRIME TYPE TO DB TABLE
insert_crim_type_sql = "INSERT INTO crime_type (id_crime_type, name, created_at, updated_at) VALUES "
for i, key in enumerate(crime_type_dict.itervalues()):
    insert_crim_type_sql = insert_crim_type_sql + "(" + str(i+1) + ", '" + key + "', NOW(), NOW() ), "
insert_crim_type_sql = insert_crim_type_sql[:-2]    
insert_crim_type_sql = insert_crim_type_sql + ";"

execute_query(insert_crim_type_sql, hostname, username, password, db_name)

/Users/jeffreyhsu/anaconda3/envs/py27/lib/python2.7/site-packages/ipykernel_launcher.py:9: Warning: Data truncated for column 'name' at row 11
  if __name__ == '__main__':

#### (2) city

In [158]:
## DROP TABLE IF EXISTS
drop_city_sql = "DROP TABLE IF EXISTS city;"
execute_query(drop_city_sql, hostname, username, password, db_name)
## CREATE TABLE SCHEMA IF NOT EXISTS
create_city_sql = "CREATE TABLE IF NOT EXISTS city (id_city INT NOT NULL PRIMARY KEY, "
create_city_sql = create_city_sql + "name VARCHAR(20) NOT NULL, created_at datetime, updated_at datetime);"
execute_query(create_city_sql, hostname, username, password, db_name)
## INSERT INTO CITY DB TABLE
insert_city_sql = "INSERT INTO city (id_city, name, created_at, updated_at) VALUES (1, 'Oakland', NOW(), NOW());"
execute_query(insert_city_sql, hostname, username, password, db_name)

#### (3) state

In [159]:
## DROP TABLE IF EXISTS
drop_state_sql = "DROP TABLE IF EXISTS state;"
execute_query(drop_state_sql, hostname, username, password, db_name)
## CREATE TABLE SCHEMA IF NOT EXISTS
create_state_sql = "CREATE TABLE IF NOT EXISTS state (id_state INT NOT NULL PRIMARY KEY, "
create_state_sql = create_state_sql + "name VARCHAR(20) NOT NULL, shortname VARCHAR(20), "
create_state_sql = create_state_sql + "created_at datetime, updated_at datetime);"
execute_query(create_state_sql, hostname, username, password, db_name)
## INSERT INTO STATE DB TABLE
insert_state_sql = "INSERT INTO state (id_state, name, shortname, created_at, updated_at) "
insert_state_sql = insert_state_sql + "VALUES (1, 'California', 'CA', NOW(), NOW());" 
execute_query(insert_state_sql, hostname, username, password, db_name)

#### (4) crime

In [174]:
## DateTime not in correct dd.mm.yyyy hh:mm:ss format
crime_cols = ['id_crime', 'fk_crime_type', 'case_number', 'description', 'police_beat', 'datetime',
              'address', 'fk_city', 'fk_state', 'longtitude', 'latitude']

In [175]:
## DROP TABLE IF EXISTS
drop_crime_sql = "DROP TABLE IF EXISTS crime;"
execute_query(drop_crime_sql, hostname, username, password, db_name)
## CREATE TABLE SCHEMA IF NOT EXISTS
create_state_sql = "CREATE TABLE IF NOT EXISTS crime (id_crime INT NOT NULL, fk_crime_type INT NOT NULL, "
create_state_sql = create_state_sql + "case_number VARCHAR(20), description TEXT, police_beat VARCHAR(20), "
create_state_sql = create_state_sql + "happened_at datetime, address VARCHAR(20), fk_city INT, "
create_state_sql = create_state_sql + "fk_state INT, longtitude VARCHAR(20), latitude VARCHAR(20), "
create_state_sql = create_state_sql + "PRIMARY KEY (id_crime), FOREIGN KEY (fk_crime_type) REFERENCES crime_type(id_crime_type), "
create_state_sql = create_state_sql + "FOREIGN KEY (fk_city) REFERENCES city(id_city),"
create_state_sql = create_state_sql + "FOREIGN KEY (fk_state) REFERENCES state(id_state) );"
execute_query(create_state_sql, hostname, username, password, db_name)

In [177]:
def load_crime_data(filename):
    """
    This function takes in the raw crime csv file, read it line by line, transform the columns
    and finally load the data into crime DB table.
    """
    with open(filename, 'r') as f:
        reader = csv.reader(f)
        for i, line in enumerate(reader):
            if i == 0:
                pass
            else:
                dbline = [str(i), str(crime_type_dict.values().index(line[0].lower())+1), 
                          line[0], line[2], line[3].lower(), line[4], line[1], line[5], '1', '1']
                insert_crime_sql = "INSERT INTO crime " 
                insert_crime_sql = insert_crime_sql + "( id_crime, fk_crime_type, case_number, " 
                insert_crime_sql = insert_crime_sql + "description, police_beat, happened_at, " 
                insert_crime_sql = insert_crime_sql + "address, fk_city, fk_state ) VALUES (" 
                insert_crime_sql = insert_crime_sql + dbline[0] + ", " + dbline[1] + ", '" 
                insert_crime_sql = insert_crime_sql + dbline[3] + "', '" + dbline[4] 
                insert_crime_sql = insert_crime_sql + "', '" + dbline[5] + "', DATE('" + dbline[6]
                insert_crime_sql = insert_crime_sql + "'), '" + dbline[7] + "', " + dbline[8] 
                insert_crime_sql = insert_crime_sql + ", " + dbline[9] + ");"
                #print insert_crime_sql
                #print "============================="
                execute_query(insert_crime_sql, hostname, username, password, db_name)

In [178]:
raw_crime_data = 'crimePublicData.csv'
load_crime_data(raw_crime_data)

/Users/jeffreyhsu/anaconda3/envs/py27/lib/python2.7/site-packages/ipykernel_launcher.py:9: Warning: Data truncated for column 'address' at row 1
  if __name__ == '__main__':

ERROR SQL EXECUTION! ROLLEDBACK
ERROR SQL EXECUTION! ROLLEDBACK

OperationalError: (2003, "Can't connect to MySQL server on 'ctsp-data-good.cofkkcj120x1.us-east-1.rds.amazonaws.com' (60)")