In [7]:
import pandas as pd
import numpy as np
import os
import geopy.distance
import json
import requests

# from googlemaps import Client as GoogleMaps
from geopy.geocoders import Nominatim
from sklearn import preprocessing
from collections import namedtuple

## Constants

In [8]:
# Default API key: replace with your own api key
google_api_key = ""

data_path = "/Users/vincentchu/Dev/oakland-crime-prediction/data/"

## Functions

In [71]:
def float_catch_value_error(s):
    try:
        return float(s)
    except ValueError:
        return None
    
# Function to call Google's geocode api based on an address
# and returns a dictionary in json format
def get_geocode_json(address, api_key):
    geo_s ='https://maps.googleapis.com/maps/api/geocode/json'
    param = {'address': address, 'key': google_api_key }    
    response = requests.get(geo_s, params=param)
    result_dict = response.json()
    return result_dict

def convert_to_int(number_str):
    if number_str.find('(') > -1:
        return int(number_str[:number_str.find('(')])
    else:
        return int(number_str)

## Code

In [10]:
data = os.path.join(os.getcwd(),data_path + 'crimePublicData.csv')
crime_data = pd.read_csv(data)

In [11]:
print "Shape of crime_data: ", crime_data.shape
crime_data.describe()

Shape of crime_data:  (8927, 8)

,CrimeType,DateTime,CaseNumber,Description,PoliceBeat,Address,City,State
count,8927,8923,8927,8927,8885,8927,8927,8927
unique,14,6704,8913,235,62,4603,1,1
top,THEFT/LARCENY,2018-01-01 00:00:00,17-067802,BURGLARY-AUTO,04X,400 7TH ST,Oakland,CA
freq,2695,12,2,1485,477,101,8927,8927

In [12]:
crime_data["CrimeType"].unique()

array(['MOTOR VEHICLE THEFT', 'ROBBERY', 'VANDALISM', 'THEFT/LARCENY',
       'ASSAULT', 'HOMICIDE', 'FRAUD', 'WEAPONS',
       'DRUGS/ALCOHOL VIOLATIONS', 'BURGLARY', 'SEX CRIMES', 'DUI',
       'DISTURBING THE PEACE', 'ARSON'], dtype=object)

In [13]:
crime_data.columns

Index([u'CrimeType', u'DateTime', u'CaseNumber', u'Description', u'PoliceBeat',
       u'Address', u'City', u'State'],
      dtype='object')

In [14]:
crime_data["CrimeType"].value_counts()

THEFT/LARCENY               2695
ASSAULT                     1820
MOTOR VEHICLE THEFT         1407
VANDALISM                    970
BURGLARY                     534
ROBBERY                      523
DRUGS/ALCOHOL VIOLATIONS     303
DISTURBING THE PEACE         242
FRAUD                        112
WEAPONS                       93
SEX CRIMES                    87
DUI                           77
ARSON                         47
HOMICIDE                      17
Name: CrimeType, dtype: int64

In [15]:
crime_data.head()

,CrimeType,DateTime,CaseNumber,Description,PoliceBeat,Address,City,State
0,MOTOR VEHICLE THEFT,2104-08-08 00:00:00,14-040258,VEHICLE THEFT - AUTO,02X,12TH ST & MANDELA PKWY,Oakland,CA
1,ROBBERY,2030-01-11 19:00:00,14-023460,"ROBBERY - STRONG ARM (HANDS, FISTS, FEET, ETC.)",23X,3600 BLK OF INTERNATIONAL BL,Oakland,CA
2,VANDALISM,2040-02-01 21:40:00,14-035766,"VANDALISM [UNDER $1,000] (AMENDED)",09X,600 FAIRMOUNT AV,Oakland,CA
3,THEFT/LARCENY,2050-01-03 13:55:00,14-038177,BURGLARY-AUTO,08X,TELEGRAPH AV & W MACARTHUR BLVD,Oakland,CA
4,ASSAULT,2018-03-15 03:50:00,18-013298,FORCE/ADW-OTHER DANGEROUS WEAPON:GBI,24Y,35TH AV & SUTER ST,Oakland,CA

In [16]:
# Adding columns for Lat, Long and Zip
crime_data['Lat'] = 0.0
crime_data['Long'] = 0.0
crime_data['Zip'] = 0

crime_data_copy = crime_data.copy()

In [17]:
# Get Lat/Long and Zip for all addresses in the current set of crime data

for i in range(crime_data.shape[0]):
#for i in range(1001, 1005):    
    #print "Iteration i = " + str(i)
    
    address = crime_data.at[crime_data.index[i], 'Address'] + ", " + crime_data.at[crime_data.index[i], 'City'] + ", " + crime_data.at[crime_data.index[i], 'State']
    result_dict = get_geocode_json(address, google_api_key)

    if len(result_dict['results']) > 1:
        print "Iteration i = " + str(i) + ": There are " + str(len(result_dict['results'])) + " results for the following address:"
        print address
    
    try:
        crime_data.at[crime_data.index[i], 'Lat'] = result_dict['results'][0]['geometry']['location']['lat']
    except:
        print "i = " + str(i) + ": Cannot find Latitude"
    
    try:
        crime_data.at[crime_data.index[i], 'Long'] = result_dict['results'][0]['geometry']['location']['lng']
    except:
        print "i = " + str(i) + ": Cannot find Longitude"
        
    try:    
        for j in range(len(result_dict['results'][0]['address_components'])):
            if result_dict['results'][0]['address_components'][j]['types'][0] == 'postal_code':
                crime_data.at[crime_data.index[i], 'Zip'] = result_dict['results'][0]['address_components'][j]['long_name']
    except:
        print "i = " + str(i) + ": Cannot find Address Components"

Iteration i = 20: There are 2 results for the following address:
600 GRAND AV, Oakland, CA
Iteration i = 135: There are 2 results for the following address:
700 GRAND AV, Oakland, CA
Iteration i = 286: There are 2 results for the following address:
2400 VALLEY, Oakland, CA
Iteration i = 337: There are 2 results for the following address:
GRAND AV, Oakland, CA
Iteration i = 355: There are 10 results for the following address:
00 , Oakland, CA
i = 355: Cannot find Address Components
Iteration i = 515: There are 2 results for the following address:
300 ALICE ST, Oakland, CA
Iteration i = 521: There are 10 results for the following address:
00 , Oakland, CA
i = 521: Cannot find Address Components
Iteration i = 545: There are 10 results for the following address:
00 , Oakland, CA
i = 545: Cannot find Address Components
Iteration i = 622: There are 2 results for the following address:
10700 SKYLINE BLVD, Oakland, CA
Iteration i = 640: There are 10 results for the following address:
00 , Oakland, CA
i = 640: Cannot find Address Components
Iteration i = 762: There are 2 results for the following address:
DISTRICT 2, Oakland, CA
Iteration i = 775: There are 10 results for the following address:
00 , Oakland, CA
i = 775: Cannot find Address Components
Iteration i = 890: There are 10 results for the following address:
00 , Oakland, CA
i = 890: Cannot find Address Components
Iteration i = 962: There are 2 results for the following address:
2200 DURANT AV, Oakland, CA
Iteration i = 1017: There are 10 results for the following address:
00 , Oakland, CA
i = 1017: Cannot find Address Components
Iteration i = 1168: There are 10 results for the following address:
00 , Oakland, CA
i = 1168: Cannot find Address Components
Iteration i = 1253: There are 2 results for the following address:
GRAND AV & LAKE PARK AV, Oakland, CA
Iteration i = 1327: There are 2 results for the following address:
5800 BROADWAY TER, Oakland, CA
Iteration i = 1421: There are 10 results for the following address:
00 , Oakland, CA
i = 1421: Cannot find Address Components
Iteration i = 1439: There are 2 results for the following address:
1300 3RD ST, Oakland, CA
i = 1491: Cannot find Latitude
i = 1491: Cannot find Longitude
i = 1491: Cannot find Address Components
Iteration i = 1492: There are 2 results for the following address:
00 EASTMONT TOWN CENTER, Oakland, CA
Iteration i = 1541: There are 10 results for the following address:
00 , Oakland, CA
i = 1541: Cannot find Address Components
Iteration i = 1550: There are 10 results for the following address:
00 , Oakland, CA
i = 1550: Cannot find Address Components
Iteration i = 1554: There are 2 results for the following address:
800 ALICE ST, Oakland, CA
Iteration i = 1563: There are 2 results for the following address:
GRAND AV, Oakland, CA
Iteration i = 1630: There are 10 results for the following address:
00 , Oakland, CA
i = 1630: Cannot find Address Components
Iteration i = 1668: There are 2 results for the following address:
6900 BROADWAY TER, Oakland, CA
Iteration i = 1712: There are 10 results for the following address:
00 , Oakland, CA
i = 1712: Cannot find Address Components
Iteration i = 1828: There are 3 results for the following address:
SKYLINE DR, Oakland, CA
Iteration i = 1891: There are 10 results for the following address:
00 , Oakland, CA
i = 1891: Cannot find Address Components
Iteration i = 2088: There are 2 results for the following address:
00 OAK ST, Oakland, CA
Iteration i = 2158: There are 10 results for the following address:
00 , Oakland, CA
i = 2158: Cannot find Address Components
Iteration i = 2232: There are 2 results for the following address:
3100 SAN PABLO AV, Oakland, CA
Iteration i = 2293: There are 2 results for the following address:
32N D ST&SAN PABLO AV, Oakland, CA
Iteration i = 2307: There are 2 results for the following address:
600 GRAND AV, Oakland, CA
i = 2331: Cannot find Latitude
i = 2331: Cannot find Longitude
i = 2331: Cannot find Address Components
Iteration i = 2705: There are 10 results for the following address:
00 , Oakland, CA
i = 2705: Cannot find Address Components
Iteration i = 2745: There are 10 results for the following address:
00 , Oakland, CA
i = 2745: Cannot find Address Components
Iteration i = 2856: There are 2 results for the following address:
27TH ST & NORTHGATE AV, Oakland, CA
Iteration i = 2918: There are 2 results for the following address:
3000 DAVIS ST, Oakland, CA
Iteration i = 2938: There are 2 results for the following address:
5900 KEITH AV, Oakland, CA
Iteration i = 3012: There are 10 results for the following address:
00 , Oakland, CA
i = 3012: Cannot find Address Components
Iteration i = 3036: There are 10 results for the following address:
00 , Oakland, CA
i = 3036: Cannot find Address Components
Iteration i = 3039: There are 2 results for the following address:
3100 SAN PABLO AV, Oakland, CA
Iteration i = 3265: There are 2 results for the following address:
42ND AV & E 12TH ST, Oakland, CA
Iteration i = 3513: There are 2 results for the following address:
600 CLEVELAND AV, Oakland, CA
Iteration i = 3556: There are 10 results for the following address:
00 , Oakland, CA
i = 3556: Cannot find Address Components
Iteration i = 3656: There are 10 results for the following address:
00 , Oakland, CA
i = 3656: Cannot find Address Components
Iteration i = 3750: There are 10 results for the following address:
00 , Oakland, CA
i = 3750: Cannot find Address Components
Iteration i = 3764: There are 2 results for the following address:
5800 KEITH AV, Oakland, CA
Iteration i = 3821: There are 10 results for the following address:
00 , Oakland, CA
i = 3821: Cannot find Address Components
i = 3870: Cannot find Latitude
i = 3870: Cannot find Longitude
i = 3870: Cannot find Address Components
i = 3889: Cannot find Latitude
i = 3889: Cannot find Longitude
i = 3889: Cannot find Address Components
Iteration i = 3949: There are 2 results for the following address:
19T H ST&MARTIN LUTHER KING JR WY, Oakland, CA
i = 3950: Cannot find Latitude
i = 3950: Cannot find Longitude
i = 3950: Cannot find Address Components
Iteration i = 3992: There are 2 results for the following address:
600 85TH AV, Oakland, CA
Iteration i = 4034: There are 10 results for the following address:
00 , Oakland, CA
i = 4034: Cannot find Address Components
Iteration i = 4315: There are 2 results for the following address:
GRAND AVE, Oakland, CA
Iteration i = 4589: There are 2 results for the following address:
GRAND AV & LAKE PARK AV, Oakland, CA
Iteration i = 4723: There are 10 results for the following address:
00 , Oakland, CA
i = 4723: Cannot find Address Components
Iteration i = 4886: There are 2 results for the following address:
BROOKLYN AV & LAKESHORE AV, Oakland, CA
Iteration i = 4989: There are 2 results for the following address:
WALKER/GRAND AVE, Oakland, CA
i = 5023: Cannot find Latitude
i = 5023: Cannot find Longitude
i = 5023: Cannot find Address Components
i = 5050: Cannot find Latitude
i = 5050: Cannot find Longitude
i = 5050: Cannot find Address Components
Iteration i = 5056: There are 2 results for the following address:
10700 FOOTHILL SQUARE ROSS AV, Oakland, CA
i = 5076: Cannot find Latitude
i = 5076: Cannot find Longitude
i = 5076: Cannot find Address Components
Iteration i = 5143: There are 10 results for the following address:
00 , Oakland, CA
i = 5143: Cannot find Address Components
i = 5173: Cannot find Latitude
i = 5173: Cannot find Longitude
i = 5173: Cannot find Address Components
Iteration i = 5190: There are 2 results for the following address:
900 GOLF LINKS ROAD, Oakland, CA
i = 5276: Cannot find Latitude
i = 5276: Cannot find Longitude
i = 5276: Cannot find Address Components
Iteration i = 5286: There are 2 results for the following address:
300 WAYNE, Oakland, CA
i = 5509: Cannot find Latitude
i = 5509: Cannot find Longitude
i = 5509: Cannot find Address Components
Iteration i = 5958: There are 2 results for the following address:
700 GRAND AV, Oakland, CA
Iteration i = 6069: There are 2 results for the following address:
4900 COLISEUM WY, Oakland, CA
Iteration i = 6134: There are 10 results for the following address:
00 , Oakland, CA
i = 6134: Cannot find Address Components

i = 6697: Cannot find Latitude
i = 6697: Cannot find Longitude
i = 6697: Cannot find Address Components
i = 6782: Cannot find Latitude
i = 6782: Cannot find Longitude
i = 6782: Cannot find Address Components
i = 7031: Cannot find Latitude
i = 7031: Cannot find Longitude
i = 7031: Cannot find Address Components
Iteration i = 7146: There are 10 results for the following address:
00 , Oakland, CA
i = 7146: Cannot find Address Components
Iteration i = 7180: There are 2 results for the following address:
5900 KEITH AV, Oakland, CA
Iteration i = 7269: There are 10 results for the following address:
00 , Oakland, CA
i = 7269: Cannot find Address Components
Iteration i = 7332: There are 10 results for the following address:
00 , Oakland, CA
i = 7332: Cannot find Address Components
Iteration i = 7345: There are 2 results for the following address:
27TH ST & NORTHGATE AV, Oakland, CA
Iteration i = 7530: There are 2 results for the following address:
GRAND AVE, Oakland, CA
Iteration i = 7578: There are 3 results for the following address:
100 E ST, Oakland, CA
Iteration i = 7598: There are 10 results for the following address:
00 , Oakland, CA
i = 7598: Cannot find Address Components
Iteration i = 7622: There are 10 results for the following address:
00 , Oakland, CA
i = 7622: Cannot find Address Components
Iteration i = 7863: There are 10 results for the following address:
00 , Oakland, CA
i = 7863: Cannot find Address Components
Iteration i = 7882: There are 10 results for the following address:
00 , Oakland, CA
i = 7882: Cannot find Address Components
Iteration i = 7890: There are 2 results for the following address:
3100 SAN PABLO AV, Oakland, CA
Iteration i = 7957: There are 2 results for the following address:
27TH ST & NORTHGATE AV, Oakland, CA
Iteration i = 7969: There are 10 results for the following address:
00 , Oakland, CA
i = 7969: Cannot find Address Components
Iteration i = 8012: There are 10 results for the following address:
00 , Oakland, CA
i = 8012: Cannot find Address Components
i = 8036: Cannot find Latitude
i = 8036: Cannot find Longitude
i = 8036: Cannot find Address Components
Iteration i = 8043: There are 2 results for the following address:
600 GRAND AV, Oakland, CA
Iteration i = 8138: There are 10 results for the following address:
00 , Oakland, CA
i = 8138: Cannot find Address Components
Iteration i = 8264: There are 2 results for the following address:
2400 DURANT AV, Oakland, CA
Iteration i = 8588: There are 10 results for the following address:
00 , Oakland, CA
i = 8588: Cannot find Address Components
Iteration i = 8628: There are 2 results for the following address:
IFO 5404 FOOTHILL BLVD, Oakland, CA
Iteration i = 8696: There are 10 results for the following address:
00 , Oakland, CA
i = 8696: Cannot find Address Components
Iteration i = 8698: There are 10 results for the following address:
00 , Oakland, CA
i = 8698: Cannot find Address Components
Iteration i = 8718: There are 2 results for the following address:
3100 SAN PABLO AV, Oakland, CA
Iteration i = 8755: There are 2 results for the following address:
3100 SAN PABLO AV, Oakland, CA
Iteration i = 8859: There are 2 results for the following address:
5200 BROADWAY TER, Oakland, CA
Iteration i = 8918: There are 10 results for the following address:
00 , Oakland, CA
i = 8918: Cannot find Address Components

In [20]:
# Create data frame with unique list of zip codes for Oakland
oakland_zip_codes = pd.DataFrame(crime_data.Zip.unique(), columns=['zip'])

In [21]:
# Get individual poverty data
data = os.path.join(os.getcwd(),data_path + 'ind_poverty_status_by_zip.csv')
ind_poverty_status = pd.read_csv(data)
ind_poverty_status = ind_poverty_status.drop(0, axis=0)
ind_poverty_status['zip'] = [int(ind_poverty_status.at[ind_poverty_status.index[i], 'GEO.id2']) for i in range(ind_poverty_status.shape[0])]
print "ind_poverty_status.shape:", ind_poverty_status.shape

# Filter out data not for Oakland
ind_poverty_status_oakland = ind_poverty_status.merge(oakland_zip_codes, 
                                                      left_on = 'zip', 
                                                      right_on = 'zip', 
                                                      how = 'inner')

print "ind_poverty_status_oakland.shape:", ind_poverty_status_oakland.shape
ind_poverty_status_oakland.head()

ind_poverty = ind_poverty_status_oakland[['zip', 'HC03_EST_VC01', 'HC03_MOE_VC01']]
ind_poverty

ind_poverty_status.shape: (1775, 370)
ind_poverty_status_oakland.shape: (37, 370)

      zip HC03_EST_VC01 HC03_MOE_VC01
0   94025           7.8           1.3
1   94102          25.0           2.3
2   94123           5.1           1.0
3   94501          11.1           1.2
4   94505           6.0           2.0
5   94509          17.4           1.8
6   94526           3.4           1.1
7   94544          13.2           1.3
8   94551           6.3           1.4
9   94553           7.8           1.5
10  94563           2.6           1.1
11  94577          10.7           1.8
12  94586           9.1           7.9
13  94587           7.9           1.1
14  94601          27.5           2.3
15  94602          11.4           1.8
16  94603          23.2           2.5
17  94605          20.1           2.5
18  94606          25.2           2.2
19  94607          29.9           2.8
20  94608          17.5           2.6
21  94609          16.0           2.7
22  94610           7.4           1.4
23  94611           7.5           1.8
24  94612          28.5           3.1
25  94613          40.0          60.0
26  94618           4.7           1.4
27  94619          10.4           2.5
28  94621          34.6           3.3
29  94702          15.4           2.7
30  94703          16.0           2.6
31  94704          50.0           3.6
32  94705          10.3           2.1
33  94708           4.3           1.3
34  94720          45.7          54.3
35  94801          24.7           3.3
36  94806          17.0           2.0

In [22]:
# Get family poverty data
data = os.path.join(os.getcwd(),data_path + 'family_poverty_status_by_zip.csv')
family_poverty_status = pd.read_csv(data)
family_poverty_status = family_poverty_status.drop(0, axis=0)
family_poverty_status['zip'] = [int(family_poverty_status.at[ind_poverty_status.index[i], 'GEO.id2']) for i in range(ind_poverty_status.shape[0])]
print "family_poverty_status.shape:", family_poverty_status.shape

# Filter out data not for Oakland
family_poverty_status_oakland = family_poverty_status.merge(oakland_zip_codes, 
                                                            left_on = 'zip', 
                                                            right_on = 'zip', 
                                                            how = 'inner')

print "family_poverty_status_oakland.shape:", family_poverty_status_oakland.shape
family_poverty_status_oakland.head()

family_poverty = family_poverty_status_oakland[['zip', 'HC02_EST_VC01', 'HC02_MOE_VC01']]
family_poverty.head(10)

family_poverty_status.shape: (1775, 604)
family_poverty_status_oakland.shape: (37, 604)

/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,3,4,7,8,11,12,15,16,19,20,23,24,27,28,31,32,35,36,39,40,43,44,47,48,51,52,55,56,59,60,63,64,67,68,71,72,75,76,79,80,83,84,87,88,91,92,95,96,99,100,103,104,107,108,111,112,115,116,119,120,123,124,127,128,131,132,135,136,139,140,143,144,147,148,151,152,155,156,159,160,163,164,167,168,171,172,175,176,179,180,183,184,187,188,191,192,195,196,199,200,203,204,207,208,211,212,215,216,219,220,223,224,227,228,231,232,235,236,239,240,243,244,247,248,251,252,255,256,259,260,263,264,267,268,271,272,275,276,279,280,283,284,287,288,291,292,295,296,299,300,303,304,307,308,311,312,315,316,319,320,323,324,327,328,331,332,335,336,339,340,343,344,347,348,351,352,355,356,359,360,363,364,367,368,371,372,375,376,379,380,383,384,387,388,391,392,395,396,399,400,403,404,407,408,411,412,415,416,419,420,423,424,427,428,431,432,435,436,439,440,443,444,447,448,451,452,455,456,459,460,463,464,467,468,483,484,487,488,491,492,495,496,499,500,503,504,507,508,519,520,531,532,543,544,555,556,567,568,579,580,591,592) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

     zip HC02_EST_VC01 HC02_MOE_VC01
0  94025           4.8           1.3
1  94102          11.9           3.5
2  94123           2.8           1.4
3  94501           8.1           1.2
4  94505           4.3           2.0
5  94509          14.2           1.8
6  94526           2.0           0.9
7  94544          10.9           1.4
8  94551           4.1           1.4
9  94553           5.8           1.6

In [23]:
poverty = ind_poverty.merge(family_poverty, how = 'inner', left_on = 'zip', right_on = 'zip')
print "poverty.shape: ", poverty.shape

poverty.columns = ['zip', 'IndPovertyPct', 'IndPovertyMoe', 'FamPovertyPct', 'FamPovertyMoe']

poverty['IndPovertyPct'] = [float_catch_value_error(poverty.at[poverty.index[i], 'IndPovertyPct']) for i in range(poverty.shape[0])]
poverty['IndPovertyMoe'] = [float_catch_value_error(poverty.at[poverty.index[i], 'IndPovertyMoe']) for i in range(poverty.shape[0])]
poverty['FamPovertyPct'] = [float_catch_value_error(poverty.at[poverty.index[i], 'FamPovertyPct']) for i in range(poverty.shape[0])]
poverty['FamPovertyMoe'] = [float_catch_value_error(poverty.at[poverty.index[i], 'FamPovertyMoe']) for i in range(poverty.shape[0])]

poverty.tail(12)

poverty.shape:  (37, 5)

      zip  IndPovertyPct  IndPovertyMoe  FamPovertyPct  FamPovertyMoe
25  94613           40.0           60.0            NaN            NaN
26  94618            4.7            1.4            1.4            1.2
27  94619           10.4            2.5            8.9            2.8
28  94621           34.6            3.3           33.2            3.5
29  94702           15.4            2.7            7.6            3.1
30  94703           16.0            2.6            7.2            3.4
31  94704           50.0            3.6           13.6            6.2
32  94705           10.3            2.1            4.3            2.1
33  94708            4.3            1.3            0.8            0.8
34  94720           45.7           54.3           55.2           55.2
35  94801           24.7            3.3           23.3            3.0
36  94806           17.0            2.0           14.8            2.1

In [24]:
# Merge crime_data with poverty data

crime_data_v2 = crime_data.merge(poverty, left_on = "Zip", right_on = 'zip')
crime_data_v2 = crime_data_v2.drop('zip', 1)
crime_data_v2.tail(10)

,CrimeType,DateTime,CaseNumber,Description,PoliceBeat,Address,City,State,Lat,Long,Zip,IndPovertyPct,IndPovertyMoe,FamPovertyPct,FamPovertyMoe
8739,THEFT/LARCENY,2018-01-29 21:00:00,18-008988,THEFT,99X,3300 EDINBURGH RD,Oakland,CA,37.692529,-121.761092,94551,6.3,1.4,4.1,1.4
8740,HOMICIDE,2018-01-01 17:22:00,18-000116,MURDER,07X,3400 ADELINE ST,Oakland,CA,37.846578,-122.273032,94703,16.0,2.6,7.2,3.4
8741,MOTOR VEHICLE THEFT,2018-01-03 17:40:00,18-000525,VEHICLE THEFT - AUTO,77X,4300 GRIZZLY PEAK BLVD,Oakland,CA,37.868139,-122.216114,94563,2.6,1.1,1.9,1.1
8742,THEFT/LARCENY,2017-12-28 22:15:00,17-067667,BURGLARY-AUTO,07X,1500 BEACH ST,Oakland,CA,37.804954,-122.433725,94123,5.1,1.0,2.8,1.4
8743,THEFT/LARCENY,2018-03-13 11:21:00,18-012965,THEFT,99X,600 ESCOBAR ST,Oakland,CA,38.017387,-122.137973,94553,7.8,1.5,5.8,1.6
8744,VANDALISM,2018-02-18 03:37:00,18-902987,VANDALISM,NaN,100 E ST,Oakland,CA,38.002603,-122.133408,94553,7.8,1.5,5.8,1.6
8745,THEFT/LARCENY,2018-03-13 11:21:00,18-012966,PETTY THEFT,99X,900 CHANSLOR AVE,Oakland,CA,37.932475,-122.360912,94801,24.7,3.3,23.3,3.0
8746,VANDALISM,2018-02-16 22:10:00,18-902956,VANDALISM,NaN,GRAND & LAKESHORE,Oakland,CA,37.911775,-121.619089,94505,6.0,2.0,4.3,2.0
8747,THEFT/LARCENY,2018-03-08 07:20:00,18-012079,RECEIVE/ETC KNOWN STOLEN PROPERTY,99X,500 CABANA WAY,Oakland,CA,37.783415,-121.965128,94526,3.4,1.1,2.0,0.9
8748,ASSAULT,2018-03-06 02:42:00,18-011607,BATTERY:SPOUSE/EX SPOUSE/DATE/ETC,77X,2400 DURANT AV,Oakland,CA,37.867385,-122.260958,94720,45.7,54.3,55.2,55.2

In [25]:
# write crime_data to csv
#crime_data.to_csv('crimePublicData_transformed.csv')
crime_data_v2.to_csv('crimePublicData_transformed_v2.csv')

# Examine head of the data frame for validation
crime_data_v2.head()

,CrimeType,DateTime,CaseNumber,Description,PoliceBeat,Address,City,State,Lat,Long,Zip,IndPovertyPct,IndPovertyMoe,FamPovertyPct,FamPovertyMoe
0,MOTOR VEHICLE THEFT,2104-08-08 00:00:00,14-040258,VEHICLE THEFT - AUTO,02X,12TH ST & MANDELA PKWY,Oakland,CA,37.809085,-122.291942,94607,29.9,2.8,27.7,3.3
1,THEFT/LARCENY,2018-01-17 13:05:00,18-006602,GRAND THEFT:MONEY/LABOR/PROPERTY OVER $400,03Y,400 7TH ST,Oakland,CA,37.799049,-122.272988,94607,29.9,2.8,27.7,3.3
2,ASSAULT,2018-03-15 16:10:00,18-013433,BATTERY:SPOUSE/EX SPOUSE/DATE/ETC,02Y,700 PERALTA ST,Oakland,CA,37.806311,-122.297974,94607,29.9,2.8,27.7,3.3
3,DUI,2018-01-17 14:00:00,18-006608,DUI ALCOHOL/DRUGS,03Y,400 7TH ST,Oakland,CA,37.799049,-122.272988,94607,29.9,2.8,27.7,3.3
4,ASSAULT,2018-03-15 19:25:00,18-013466,BATTERY,03X,800 FRANKLIN ST,Oakland,CA,37.799789,-122.272333,94607,29.9,2.8,27.7,3.3

## Adding housing data

In [29]:
#data_path_ml = "/Users/vincentchu/Dev/oakland-crime-prediction/machine_learning/machine_learning/"

data = os.path.join(os.getcwd(), data_path + 'poverty_housing_oakland.csv')
housing = pd.read_csv(data)

In [69]:
housing.columns

Index([u'Unnamed: 0', u'zip', u'tract',
       u'Number; HOUSING OCCUPANCY - Total housing units',
       u'Percent; HOUSING OCCUPANCY - Total housing units',
       u'Number; HOUSING OCCUPANCY - Total housing units - Occupied housing units',
       u'Percent; HOUSING OCCUPANCY - Total housing units - Occupied housing units',
       u'Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units',
       u'Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units',
       u'Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For rent',
       u'Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For rent',
       u'Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - Rented, not occupied',
       u'Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - Rented, not occupied',
       u'Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For sale only',
       u'Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For sale only',
       u'Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - Sold, not occupied',
       u'Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - Sold, not occupied',
       u'Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For seasonal, recreational, or occasional use',
       u'Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - For seasonal, recreational, or occasional use',
       u'Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units - All other vacants',
       u'Percent; HOUSING OCCUPANCY - Total housing units - Vacant housing units - All other vacants',
       u'Number; HOUSING OCCUPANCY - Total housing units - Homeowner vacancy rate (percent) [8]',
       u'Id2',
       u'Percent below poverty level; Estimate; Population for whom poverty status is determined',
       u'Percent below poverty level; Estimate; AGE - Under 18 years',
       u'Percent below poverty level; Estimate; AGE - Under 18 years - Under 5 years',
       u'Percent below poverty level; Estimate; AGE - Under 18 years - 5 to 17 years',
       u'Percent below poverty level; Estimate; AGE - Under 18 years - Related children of householder under 18 years',
       u'Percent below poverty level; Estimate; AGE - 18 to 64 years',
       u'Percent below poverty level; Estimate; AGE - 18 to 64 years - 18 to 34 years',
       u'Percent below poverty level; Estimate; AGE - 18 to 64 years - 35 to 64 years',
       u'Percent below poverty level; Estimate; AGE - 60 years and over',
       u'Percent below poverty level; Estimate; AGE - 65 years and over',
       u'Percent below poverty level; Estimate; SEX - Male',
       u'Percent below poverty level; Estimate; SEX - Female',
       u'Percent below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - White alone',
       u'Percent below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - Black or African American alone',
       u'Percent below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - American Indian and Alaska Native alone',
       u'Percent below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - Asian alone',
       u'Percent below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - Native Hawaiian and Other Pacific Islander alone',
       u'Percent below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - Some other race alone',
       u'Percent below poverty level; Estimate; RACE AND HISPANIC OR LATINO ORIGIN - Two or more races',
       u'Percent below poverty level; Estimate; Hispanic or Latino origin (of any race)',
       u'Percent below poverty level; Estimate; White alone, not Hispanic or Latino',
       u'Percent below poverty level; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over',
       u'Percent below poverty level; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Less than high school graduate',
       u'Percent below poverty level; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - High school graduate (includes equivalency)',
       u'Percent below poverty level; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Some college, associate's degree',
       u'Percent below poverty level; Estimate; EDUCATIONAL ATTAINMENT - Population 25 years and over - Bachelor's degree or higher',
       u'Percent below poverty level; Estimate; EMPLOYMENT STATUS - Civilian labor force 16 years and over',
       u'Percent below poverty level; Estimate; EMPLOYMENT STATUS - Civilian labor force 16 years and over - Employed',
       u'Percent below poverty level; Estimate; EMPLOYMENT STATUS - Civilian labor force 16 years and over - Employed - Male',
       u'Percent below poverty level; Estimate; EMPLOYMENT STATUS - Civilian labor force 16 years and over - Employed - Female',
       u'Percent below poverty level; Estimate; EMPLOYMENT STATUS - Civilian labor force 16 years and over - Unemployed',
       u'Percent below poverty level; Estimate; EMPLOYMENT STATUS - Civilian labor force 16 years and over - Unemployed - Male',
       u'Percent below poverty level; Estimate; EMPLOYMENT STATUS - Civilian labor force 16 years and over - Unemployed - Female',
       u'Percent below poverty level; Estimate; WORK EXPERIENCE - Population 16 years and over',
       u'Percent below poverty level; Estimate; WORK EXPERIENCE - Population 16 years and over - Worked full-time, year-round in the past 12 months',
       u'Percent below poverty level; Estimate; WORK EXPERIENCE - Population 16 years and over - Worked part-time or part-year in the past 12 months',
       u'Percent below poverty level; Estimate; WORK EXPERIENCE - Population 16 years and over - Did not work',
       u'Percent below poverty level; Estimate; ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS - 50 percent of poverty level',
       u'Percent below poverty level; Estimate; ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS - 125 percent of poverty level',
       u'Percent below poverty level; Estimate; ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS - 150 percent of poverty level',
       u'Percent below poverty level; Estimate; ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS - 185 percent of poverty level',
       u'Percent below poverty level; Estimate; ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS - 200 percent of poverty level',
       u'Percent below poverty level; Estimate; ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS - 300 percent of poverty level',
       u'Percent below poverty level; Estimate; ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS - 400 percent of poverty level',
       u'Percent below poverty level; Estimate; ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS - 500 percent of poverty level',
       u'Percent below poverty level; Estimate; UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED',
       u'Percent below poverty level; Estimate; UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED - Male',
       u'Percent below poverty level; Estimate; UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED - Female',
       u'Percent below poverty level; Estimate; 15 years',
       u'Percent below poverty level; Estimate; 16 to 17 years',
       u'Percent below poverty level; Estimate; 18 to 24 years',
       u'Percent below poverty level; Estimate; 25 to 34 years',
       u'Percent below poverty level; Estimate; 35 to 44 years',
       u'Percent below poverty level; Estimate; 45 to 54 years',
       u'Percent below poverty level; Estimate; 55 to 64 years',
       u'Percent below poverty level; Estimate; 65 to 74 years',
       u'Percent below poverty level; Estimate; 75 years and over',
       u'Percent below poverty level; Estimate; Mean income deficit for unrelated individuals (dollars)',
       u'Percent below poverty level; Estimate; Worked full-time, year-round in the past 12 months',
       u'Percent below poverty level; Estimate; Worked less than full-time, year-round in the past 12 months',
       u'Percent below poverty level; Estimate; Did not work'],
      dtype='object')

In [70]:
housing_v2 = housing.copy()

housing_v2['total_units'] = map(convert_to_int, housing_v2['Number; HOUSING OCCUPANCY - Total housing units'])
housing_v2['occupied_units'] = map(convert_to_int, housing_v2['Number; HOUSING OCCUPANCY - Total housing units - Occupied housing units'])
housing_v2['vacant_units'] = map(convert_to_int, housing_v2['Number; HOUSING OCCUPANCY - Total housing units - Vacant housing units'])

housing_v2['occupied_pct'] = housing_v2['occupied_units'] * 1.0 / housing_v2['total_units']
housing_v2['vacant_pct'] = housing_v2['vacant_units'] * 1.0 / housing_v2['total_units']

housing_v2 = housing_v2[['zip', 'total_units', 'occupied_units', 'vacant_units', 'occupied_pct', 'vacant_pct']]
housing_v2.head(10)

     zip  total_units  occupied_units  vacant_units  occupied_pct  vacant_pct
0  94025         1605            1504           101      0.937072    0.062928
1  94025         1657            1601            56      0.966204    0.033796
2  94025         1461            1384            77      0.947296    0.052704
3  94025          919             866            53      0.942329    0.057671
4  94025         1515            1372           143      0.905611    0.094389
5  94025         2291            2158           133      0.941947    0.058053
6  94025         1192            1157            35      0.970638    0.029362
7  94025          843             816            27      0.967972    0.032028
8  94025         1566            1517            49      0.968710    0.031290
9  94025          826             787            39      0.952785    0.047215

In [83]:
crime_data_v3 = crime_data_v2.copy()

crime_data_v3 = crime_data_v3.merge(housing_v2[['zip', 'occupied_pct', 'vacant_pct']], 
                                    left_on = 'Zip', 
                                    right_on = 'zip', 
                                    how = 'left')

crime_data_v3 = crime_data_v3.drop(['zip'], axis = 1)

crime_data_v3.head()

,CrimeType,DateTime,CaseNumber,Description,PoliceBeat,Address,City,State,Lat,Long,Zip,IndPovertyPct,IndPovertyMoe,FamPovertyPct,FamPovertyMoe,occupied_pct,vacant_pct
0,MOTOR VEHICLE THEFT,2104-08-08 00:00:00,14-040258,VEHICLE THEFT - AUTO,02X,12TH ST & MANDELA PKWY,Oakland,CA,37.809085,-122.291942,94607,29.9,2.8,27.7,3.3,0.883426,0.116574
1,MOTOR VEHICLE THEFT,2104-08-08 00:00:00,14-040258,VEHICLE THEFT - AUTO,02X,12TH ST & MANDELA PKWY,Oakland,CA,37.809085,-122.291942,94607,29.9,2.8,27.7,3.3,0.942073,0.057927
2,MOTOR VEHICLE THEFT,2104-08-08 00:00:00,14-040258,VEHICLE THEFT - AUTO,02X,12TH ST & MANDELA PKWY,Oakland,CA,37.809085,-122.291942,94607,29.9,2.8,27.7,3.3,0.791383,0.208617
3,MOTOR VEHICLE THEFT,2104-08-08 00:00:00,14-040258,VEHICLE THEFT - AUTO,02X,12TH ST & MANDELA PKWY,Oakland,CA,37.809085,-122.291942,94607,29.9,2.8,27.7,3.3,0.832427,0.167573
4,MOTOR VEHICLE THEFT,2104-08-08 00:00:00,14-040258,VEHICLE THEFT - AUTO,02X,12TH ST & MANDELA PKWY,Oakland,CA,37.809085,-122.291942,94607,29.9,2.8,27.7,3.3,0.866051,0.133949

In [84]:
# write crime_data to csv
crime_data_v3.to_csv('crimePublicData_transformed_v3.csv')

## Testing Section

In [73]:
crime_data_v2.query("Zip != 94607").head()

,CrimeType,DateTime,CaseNumber,Description,PoliceBeat,Address,City,State,Lat,Long,Zip,IndPovertyPct,IndPovertyMoe,FamPovertyPct,FamPovertyMoe
1063,ROBBERY,2030-01-11 19:00:00,14-023460,"ROBBERY - STRONG ARM (HANDS, FISTS, FEET, ETC.)",23X,3600 BLK OF INTERNATIONAL BL,Oakland,CA,37.775883,-122.221834,94601,27.5,2.3,25.0,2.4
1064,WEAPONS,2018-03-15 13:15:00,18-013400,PROHIBITED POSSESS AMMUNITION OR RELOADED AMMU...,27X,1400 44TH AV,Oakland,CA,37.771996,-122.213942,94601,27.5,2.3,25.0,2.4
1065,MOTOR VEHICLE THEFT,2018-03-15 15:25:00,18-013423,VEHICLE THEFT - AUTO,21Y,3200 LYNDE ST,Oakland,CA,37.789930,-122.216164,94601,27.5,2.3,25.0,2.4
1066,DRUGS/ALCOHOL VIOLATIONS,2018-03-15 17:45:00,18-013450,POSSESS CONTROLLED SUBSTANCE PARAPHERNALIA,21X,2100 MITCHELL ST,Oakland,CA,37.785326,-122.226034,94601,27.5,2.3,25.0,2.4
1067,VANDALISM,2040-01-01 00:00:00,14-031456,"VANDALISM [UNDER $1,000] (AMENDED)",20X,2600 E 12TH ST,Oakland,CA,37.780145,-122.232341,94601,27.5,2.3,25.0,2.4

In [ ]:
# Print out Lat/Long and Zip of part of the data frame for validation
for i in range(101, 105):
    print "Iteration %d" % i
    print "(Lat, Long) = ", (crime_data_v2.at[crime_data.index[i], 'Lat'], crime_data_v2.at[crime_data.index[i], 'Long'])
    print "Zip = %d" % crime_data_v2.at[crime_data.index[i], 'Zip']
    print "% Individuals below poverty line = ", crime_data_v2.at[crime_data.index[i], 'IndPovertyPct'], "%"
    print "% Families below poverty line = ", crime_data_v2.at[crime_data.index[i], 'FamPovertyPct'], "%"

In [ ]:
data_path = "/Users/vincentchu/Dev/oakland-crime-prediction/data/"

data = os.path.join(os.getcwd(),data_path + 'crimePublicData_transformed_v2.csv')
transformed_crime_data_v2 = pd.read_csv(data)

In [ ]:
transformed_crime_data_v2.columns

In [ ]:
transformed_crime_data_v2.Zip.unique()

In [ ]:
transformed_crime_data_v2.head(10)